In [20]:
listings_new

,id,name,host_id,host_name,neighbourhood_group,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,-73.94190,Private room,150,3,0,0,0.00,1,365
1,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,-73.95976,Entire home/apt,89,1,279,2019-08-29,4.62,1,192
2,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,-73.97500,Entire home/apt,200,3,75,2019-07-21,0.59,1,13
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,-73.95596,Private room,60,45,49,2017-10-05,0.39,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48372,38564068,Top Floor Delight,207204450,Ade,Brooklyn,-73.90764,Entire home/apt,199,2,0,0,0.00,4,42
48373,38564524,Central Park Elegance,1567562,Maggie,Manhattan,-73.96650,Entire home/apt,175,30,0,0,0.00,1,263
48374,38566777,Quiet room available,159902221,Nancy,Brooklyn,-73.93043,Private room,35,30,0,0,0.00,1,66
48375,38567542,Spacious room in Brooklyn brownstone,68905617,Eric,Brooklyn,-73.93772,Private room,79,1,0,0,0.00,10,322
48376,38568081,"Petrose home by JFK, Beach &St John Hosp.",293596932,Ebangha,Queens,-73.75722,Private room,45,3,0,0,0.00,1,173